{% extends 'base.html' %}

{% block title%}
{{ title }}
{% endblock %}

{% block content %}

<!-- heading -->
<div class="text-center">
    <h2>{{loc.name}}</h2>
    <h5 class="text-primary">{{ text }}</h5>
</div>



description : {{loc.description}}<br>
type : {{loc.type}}<br>
site : {{loc.site}}<br>
opening_timing : {{loc.opening_timing}}<br>
hits : {{loc.hits}}<br>
rating : {{loc.rating}}<br>
reviews : {{loc.reviews}}<br>
latitude : {{loc.latitude}}<br>
longitude : {{loc.longitude}}<br>



{% endblock %}